<%- include('partials/head') %>

<body>
    <%- include('partials/navbar') %> 

    <h1>HOME PAGE <%= 4*2 %></h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum, culpa. Ut minus numquam nesciunt debitis! Sed necessitatibus vel totam illo iure adipisci eius aut, nemo commodi placeat nisi dicta alias.</p>


    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate eos laudantium quo dolorum similique excepturi, quam iusto modi fugiat amet tenetur culpa ex sapiente sequi accusantium! Nemo dolore ratione magnam!</p>
    
</body>
</html>